.app__header{
    font-family: var(--font-family);
    width: 100%;
    display: flex;
    gap: 10rem;
    padding: 6rem 2rem 2rem 2rem;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.app__header-content__title {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2rem;
    background: transparent;
    color: var(--celeste-color);
    padding: 0 0 0 4rem;
}

.app__header-diagram {
    display: flex;
    color: #1b1b1b;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    background: transparent;
    padding: 0 4rem 0 0;
}

.app__header-content__title h1 {
    font-size: 4.5rem;
}

.app__header-content__title p {
    font-size: 1rem;
    color: rgb(32, 31, 31);
}

.app__header-content__title div {
    display: flex;
    gap: 3rem;
    justify-content: flex-start;
    width: 100%;
}

.app__header-content__title a {
    text-decoration: none;
    color: #fff;
    background: var(--celeste-color);
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 5px;
}

.app__header-diagram__content {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.app__header-diagram__content p{
    font-size: 1.2rem;
}

.app__header-diagram__content img{
    height: 3rem;
    max-width: 3rem;
}

.app__header-image img {
    width: 100%;
    position: absolute;
    height: 100vh;
    object-fit: cover;
    object-position: -15px 0; 
    z-index: -1;
}

@media screen and (max-width: 750px){
    .app__header-bigcontainer {
        flex-direction: column;
        padding: 0;
        gap: 1rem;
    }
    .app__header-content__title {
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
    }
    .app__header-diagram {
        padding: 0;
    }
}

@media screen and (max-width: 1350px){
    .app__header{
        flex-direction: column;
        gap: 1.5rem;
        height: 100%;
    }
}