.input__container {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.input__container input {
    width: 100%;
}

#birthtype, #birthtypebaby {
    width: 100%;
    font-size: 1.05rem;
    padding: .2rem 0;
    border: none;
    outline: 1px solid var(--celeste-color);
    border-radius: 3px;
}

.input__container input[type="text"],  .input__container input[type="date"], .input__container input[type="email"]{
    padding: .5rem;
    border: none;
    outline: 1px solid var(--celeste-color);
    border-radius: 5px;
}
.input__container-save {
    display: flex;
    gap: 1.5rem;
}

.contenedorpagar__pregunta {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.contenedorpagar__pregunta label {
    font-size: 1.2rem;
    color: var(--celeste-color);
    font-weight: 600;
}

.contenedorpagar__pregunta input {
    padding: 1rem .5rem;
    border: none;
    outline: 1px solid var(--celeste-color);
    border-radius: 5px;
}

.codigo__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.codigo__container h5 {
    color: var(--celeste-color);
    font-size: 1.5rem;
}

.codigo__container input {
    width: 70%;
    outline: 1px solid var(--celeste-color);
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
}

.codigo__container button {
    padding: 1rem 1.5rem;
    background: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 1rem;
    transition: background .3s ease;
}

.codigo__container button:hover {
    background: rgb(188, 188, 188);
}

.style__text-black {
    color: black;
}

.style__text-blue {
    color: var(--celeste-color);
}

.style__text-red {
    color: red;
}

.begin__main-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 9999;
    background: rgba(128, 128, 128, 0.916);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}