*{
    font-family: var(--font-family);
}

/*main*/
.main__container {
    position: absolute;
    top: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*home*/
.home__container {
    display: flex;
    width: 100%;
    background: var(--celeste-background);
}

/*page404*/
.page404__contenedor {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
}
.page404__link {
    color: var(--color-celeste);
    text-decoration: none;
}

/*pay*/
.begin__main {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    background: radial-gradient(var(--celeste-color), rgb(105, 184, 233));
}

.begin__form-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 80%;
    border-radius: .5rem;
    background: #fefefe;
    gap: 1rem;
}

.begin__form-container-1 {
    width: 60%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.begin__form {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.uno h2, .dos h2, .begin__form-2 h2 {
    color: var(--celeste-color);
    font-size: 2rem;
}

.uno p, .dos p {
    text-decoration: underline;
}

.uno div {
    color: rgb(22, 22, 22);
    display: flex;
    gap: 1rem;
    width: 80%;
    justify-content: space-between;
}

.sintomas_container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.sintomas_container div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.begin__form-2 {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.begin__form-cuppon {
    display: flex;
    gap: 2rem;
}

.begin__form-cuppon label {
    color: #101010;
}

.begin__form-cuppon input {
    border: none;
    padding: 0 .5rem;
    outline: 1px solid var(--celeste-color);
}

.begin__form-cuppon input:focus {
    outline: 2px solid var(--celeste-color);
}

.option__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.begin__form-option {
    display: flex;
    padding: 2rem;
    border-radius: 15px;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 1px 1px 10px 1px #19191922;
    margin-top: 2rem;
    width: 75%;
}

.begin__form-option h3 {
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: -0.04em;
    color: var(--celeste-color);
    margin-bottom: 1rem;
}

.begin__form-option p {
    color: rgb(74, 74, 74);
}

.circle_check {
    color: var(--celeste-color);
}

.begin__final-buton {
    text-align: center;
    padding: 1rem 0;
}

.begin__final-buton button {
    background: var(--celeste-color);
    padding: 1rem;
    border: none;
    color: #fefefe;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.begin__logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    user-select: none;
    margin-bottom: 2rem;
    justify-content: flex-start;
}

.begin__logo-container h5 {
    font-size: 1.8rem;
    letter-spacing: -0.03em;
    color: var(--celeste-color);
}

.begin__logo-container p {
    font-size: 1rem;
    color: rgb(59, 59, 59);
    font-style: oblique;
}

.pagar__container-second {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 4rem;
}

.pagar__container-second b {
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: 0;
    color: #474747;
    margin-right: 1rem;
    cursor: pointer;
}

.pagar__container-second h3 {
    user-select: none;
    font-size: 1.7rem;
    letter-spacing: -0.04em;
    color: var(--celeste-color);
}

.pagar__buton-container {
    width: 100%;
    text-align: center;
}

.pagar__buton-container button {
    padding: 1rem;
    border: none;
    background: var(--celeste-color);
    font-size: 1.1rem;
    color: #fff;
    border-radius: 5px;
}

.teleconsulta_pay {
    display: flex;
    height: 90vh;
    width: 90vw;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    background: white;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9000;
}

.teleconsulta_pay div {
    width: 100%;
}

.contenedor_pagar-teleconsulta {
    padding: 0 -5rem;
}

.h3_teleconsulta {
    margin-top: 8rem;
}

.contenedor_pagar-teleconsulta2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.pagar_contenedor_inputs2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.pagar_contenedor_inputs2 div {
    display: flex;
    flex-direction: column;
}

.pagar_contenedor_inputs2 label {
    margin-bottom: .5rem;
}

#new {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}

#new input {
    width: auto;
    height: 100%;
}

.preguntas_finales-container {
    display: flex;
    flex-direction: column;
}

.preguntas_finales-container div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

.pagar_contenedor_inputs2 input[type="text"], .pagar_contenedor_inputs2 input[type="number"] {
    width: 30%;
    padding: .5rem .6rem;
    border: none;
    outline: 1px solid var(--celeste-color);
}
.pagar_contenedor_inputs2 input[type="text"]:focus {
    outline: 2px solid var(--celeste-color);
}

.div__tipo-embarazo {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.div__tipo-embarazo div {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 30%;
}

.fecha_div input {
    width: 30%;
    padding: .5rem .6rem;
    outline: 1px solid var(--celeste-color);
    border: none;
}

.fecha_div input:active, .fecha_div input:focus {
    outline: 1px solid var(--celeste-color);
}

.pagar__buton-container {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagar__buton-container button {
    width: 50%;
    margin-bottom: 2rem;
}

.overlay__fondo {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: hsla(190, 100%, 7%, 0.954);
    z-index: 5000;
}

@media screen and (max-width: 1350px ){
    .begin__form-container {
        flex-direction: column;
    }
    .begin__logo-container {
        justify-content: center;
    }
    .option__container {
        width: 100%;
    }
    .pagar__container {
        width: 70%;
    }
    .pagar_contenedor_inputs div {
        width: 80%;
    }
    .pagar_contenedor_inputs2 div, .pagar_contenedor_inputs2 input[type="date"], .pagar_contenedor_inputs2 input[type="text"]{
        width: 90%;
    }
}

@media screen and (max-width: 650px ){
    .begin__form-container {
        flex-direction: column;
        width: 90%;
    }
    .begin__form-container-1 {
        width: 100%;
    }
    .begin__form div {
        width: 100%;
    }
    .begin__form-cuppon {
        flex-direction: column;
        gap: 1rem;
    }
    .begin__form-cuppon input {
        padding: .5rem;
        font-size: 1.1rem;
    }
    .begin__form-option {
        width: 100%;
    }.pagar__container {
        width: 90%;
    }
    .pagar_contenedor_inputs2 div, .pagar_contenedor_inputs2 input[type="date"], .pagar_contenedor_inputs2 input[type="text"]{
        width: 100%;
    }
}