*{
    font-family: Arial, Helvetica, sans-serif;
}

/**/
.button-next {
    display: flex;
    padding: 3rem 0 0 0;
    gap: 1rem;
}

.button-next button {
    padding: 1rem;
    width: 8rem;
    background: var(--celeste-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*general: profile*/
.profile__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile__main {
    display: flex;
    width: 100%;
    height: 70vh;
}

.profile__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*home*/
.home__container {
    display: flex;
    flex-direction: column;
}

/*page404*/
.page404__contenedor {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
}
.page404__link {
    color: var(--color-celeste);
    text-decoration: none;
}

/*thanks*/
.thanks__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}

.thanks__container h1 {
    font-size: 3.5rem;
    color: var(--celeste-color);
    text-align: center;
}

.thanks__container p {
    font-size: 1.5rem;
    color: var(--font-color);
    text-align: center;
}

.thanks__container a {
    font-size: 1.5rem;
    margin-top: .2rem;
    text-decoration: none;
    background: var(--celeste-color);
    color: #fff;
    padding: .8rem 1.5rem;
    border-radius: 5px;
}

@media screen and (max-width: 750px) {
    .thanks__container h1 {
        font-size: 2.5rem;
    }
    .thanks__container p {
        font-size: 1rem;
    }
    
    .thanks__container a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 360px){
    .home__container {
        width: 115vw;
    }
}