.thanks__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}

.thanks__container h1 {
    font-size: 3.5rem;
    color: var(--celeste-color);
    text-align: center;
}

.thanks__container p {
    font-size: 1.5rem;
    color: var(--font-color);
    text-align: center;
}

.thanks__container a {
    font-size: 1.5rem;
    margin-top: .2rem;
    text-decoration: none;
    background: var(--celeste-color);
    color: #fff;
    padding: .8rem 1.5rem;
    border-radius: 5px;
}

@media screen and (max-width: 750px) {
    .thanks__container h1 {
        font-size: 2.5rem;
    }
    .thanks__container p {
        font-size: 1rem;
    }
    
    .thanks__container a {
        font-size: 1rem;
    }
}