.boton_paicos {
    padding: .7rem 1rem;
    background: var(--celeste-color);
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}