.login__container {
    position: fixed;
    z-index: 99999;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}

.login__container input {
    outline: 1px solid var(--celeste-color);
    border-radius: .1rem;
}

.out-celeste {
    outline: 1px solid var(--celeste-color);
}

@media screen and (min-width: 750px ){
    .login__container {
        width: 50%;
    }
}

@media screen and (min-width: 1350px ){
    .login__container {
        width: 30%;
    }
}