:root {
  --font-family: 'Open Sans', sans-serif;
  --font-secundary: 'Manrope', sans-serif;
  --celeste-color: rgb(45, 172, 201);
  --celeste-background: radial-gradient(circle at 50% 50%, rgba(62, 177, 203, 1) 0%, rgba(92, 226, 255, 1) 100%);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.load__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--celeste-background);
  color: #fff;
}

.load__container h1 {
  font-size: 3rem;
  font-family: var(--font-family);
}

.load__container p {
  text-align: left;
  font-size: 1.3rem;
  letter-spacing: 0.04em;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}