.app__header{
    font-family: var(--font-family);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 6rem 2rem 2rem 2rem;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.app__header-content__title {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2rem;
    background: transparent;
    color: var(--celeste-color);
    justify-content: center;
    align-items: center;
    width: 70%;
}

.app__header-diagram {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.5rem;
    background: transparent;
}

.app__header-content__title h1 {
    font-size: 4.5rem;
}

.app__header-content__title p {
    font-size: 1.2rem;
    color: var(--font-color);
}

.app__header-content__title div {
    display: flex;
    justify-content: center;
}

.app__header-content__title a {
    text-decoration: none;
    color: #fff;
    background: var(--celeste-color);
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-size: 1.2rem;
}

.app__header-diagram__content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.app__header-diagram__content p{
    font-size: 1.2rem;
    text-align: center;
    color: var(--font-color);
}

.app__header-diagram__content img{
    height: 6rem;
    max-width: 6rem;
}

.app__header-image img {
    width: 100%;
    position: absolute;
    height: 100vh;
    object-fit: cover;
    object-position: -15px 0; 
    z-index: -1;
}

@media screen and (max-width: 750px){
    .app__header-bigcontainer {
        flex-direction: column;
        padding: 0;
        gap: 1rem;
    }
    .app__header-content__title {
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        width: 100%;
    }
    .app__header-diagram {
        padding: 0;
        flex-direction: column;
    }
}

@media screen and (max-width: 1350px){
    .app__header{
        flex-direction: column;
        gap: 1.5rem;
        height: 100%;
    }
    .app__header-diagram p {
        font-size: 1.2rem;
    }
    .app__header-diagram__content img {
        width: 4rem;
        height: 4rem;
    }
    .app__header-content__title {
        padding-top: 2rem;
    }
}